.mylist{
    display:flex;
    text-transform: uppercase;
    margin-bottom:10px;
}
.deletebutton{
    font-size:2em;
    width:40px;
    height:40px;
    border-radius:50%;
    margin-right:20px;
    align-items: center;
    background-color:rgb(155, 49, 155);
    border:none;
}
.deletebutton:hover{
    background-color: red;
}